<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/about">about</a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">© 2018 Social Media Application</a>
                </li>
            </ul>
        </div>
    </div>
</div>

