{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'event.css' %}">
{% endblock %}

{% block content %}

    <div class="container" id="upcoming_events">
        <div class="row">
            <div class="col-12">
                <h2>Upcoming events:</h2>
                {% if not events %}<p>There are no events planned in the future</p>{% endif %}
                {% for e in events %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/event/{{ e.pk }}/">{{ e.name }}</a></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Owner: <a href="/user/profile/{{ e.owner }}/">{{ e.owner }}</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted">Category: {{ e.get_category_display }}</h6>
                            <p class="card-text">{{ e.description }}</p>
                            <p class="card-text">Date: {{ e.start_datetime }} - {{ e.end_datetime }}</p>
                            <p class="card-text">Place: {{ e.place.name }}: {{ e.place.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

